/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history

public/assets

# production build/credentials
scripts/deployment/build
scripts/deployment/env.rails
scripts/deployment/env.mysql
scripts/deployment/.vagrant
scripts/deployment/image.tar
