# rails
RAILS_ENV=production
RAILS_SERVE_STATIC_FILES=yes

# puma.rb
PORT=80
RAILS_MAX_THREADS=5

# cable.yml
CABLE_REDIS_URL=??

# database.yml
DATABASE_DBNAME=rdp_production
DATABASE_USERNAME=someone
DATABASE_PASSWORD=something

# secret.yml
SECRET_KEY_BASE=7dd45d5797d2560d76eedd1846183627a0da1209b370e919c43ef647c2d3f339873f0a6ab3dc34a71478cce64e5c56bc62f84f440b8c21adc9d9d65b02743b74
